<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Music Harmoney Editor</title>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script> 
<style type="text/css">
    .bs-example{
      margin: 20px;
      margin-top: 0;
    }
</style>
</head>

<body>

  
  <div class="bs-example" style="width: 40%;position: absolute;">
  <form class="contact_form" id="project-create" action="/new_project" method="post" enctype="multipart/form-data"
  >
  <fieldset>
    <legend>Create Project</legend>
  <div>
    <!-- <span class="help-block">Please complete here.</span> -->

    <div class="form-group">
    <label>Title</label>
    <input type="text" name="project[TITLE]" class="form-control" placeholder="Project Name"><%= @new_project.TITLE  %></input>
    </div>

    <div class="form-group">
    <label>Artist</label>
    <input type="text" name="project[USER_ID]" class="form-control" placeholder="User Name"><%= @new_project.USER_ID  %></input>
    </div>

    <label>Genre</label>
    <select name="project[GENRE]" class="form-control" id="normalSelect">
                <option>Rock</option>
                <option>Classical</option>
                <option>Jazz</option>
                <option>Bluse</option>
                <option>RnB</option>
                <option>HipHop</option>
    </select>
    <div class="form-group">
    <label>Image</label>
    <input type="file" name="project[ALBUM_IMAGE_PATH]" class="form-control" size="30" /></input>
    </div>

    <div class="form-group">
    <label>Information</label>
    <textarea type="text" name="project[PROJECT_INFO]" placeholder="Project Information" style="
    width: 100%;
"><%= @new_project.PROJECT_INFO  %></textarea>
    </div>

    <button type="submit" class="btn btn-primary">submit</button>
  </div>
  </fieldset>
</form>
</div>

<div class="bs-example" style="width: 40%;float: right;">
<legend>Project List</legend>
<div id="project-list">
  <% @project.each do |project| %>
  <div class="projects">
    <a href="/project/<%= project.id %>">
      <h1><%= project.TITLE %></h1></a>

        <!-- <img width="150" src="<
        #%= project.ALBUM_IMAGE_PATH_url 
        %>"/> -->
        
        <img width="150" src="<%= project.ALBUM_IMAGE_PATH_url %>"/>
        <h5>Info : <%= project.PROJECT_INFO %></h5>
      <div>
      <a href="/project/<%= project.id %>/destroy">
        delete project
      </a>
<!--       <a href="/project/<%= project.id %>/edit">
        edit project
      </a> -->
    </div>
    </div>
    <!-- <br> -->
    <hr style="border-top: 1px solid #D5D4D4;">
    <% end %>
  </div>
</div>
</body>
</html>
