<!DOCTYPE html>
<html>
<head>
 <title>Music Harmoney</title>
 <!-- Setting 시작 -->
 <!-- <#%= erb :file_include %> -->
 <%= erb "layout/file_include".to_sym%>
</head>
<body>
  <div id="scrollArea" class="normal">
    <div id="topBanner" class="topBottom">
      <!-- topBanner -->
      <div class="middleArea">
        <%= erb "layout/login-form".to_sym%>
      </div>
    </div>
    <div id="center">
      <div class="middleArea">
        <%= erb "layout/top-menu".to_sym%>
        <div id="contents">
          <%= erb "content/main-recent-slide".to_sym %>
        </div>
      </div>
    </div>
    <%= erb "layout/bottom-info".to_sym %>
  </div>
  <%= erb "layout/play-area".to_sym %>
</body>
</html>