<!DOCTYPE html>
<html>
<head>
 <title>Music Harmoney</title>
 <!-- Setting 시작 -->
 <%= erb :fileInclude %>
</head>
<body>
  <div id="scrollArea" class="normal">
    <div id="topBanner" class="topBottom">
      <!-- topBanner -->
      <div class="leftArea">
      </div>
      <div class="middleArea">
        <%= erb :loginForm %>
      </div>
      <div class="rightArea">
      </div>
    </div>

    <div id="center">
      <div class="leftArea">
      </div>
      <div class="middleArea">
        <%= erb :topMenu %>
        <div id="contents">
      <%=     
      @new_project = Project.new 
      @project = Project.all 
       @source = Source.all 
       erb :my_project_list 
       %>
        </div>
      </div>
      <div class="rightArea">
      </div>
    </div>
    <%= erb :bottomInfo %>
  </div>
  <%= erb :playArea %>
</body>
</html>