<!DOCTYPE html>
<html>
<head>
 <title>Music Harmoney</title>
 <!-- Setting 시작 -->
 <%= erb "layout/file_include".to_sym%>
</head>
<body>
  <div id="scrollArea" class="normal">
    <div id="topBanner" class="topBottom">
      <!-- topBanner -->
      <div class="middleArea">
        <%= erb "layout/login-form".to_sym%>
      </div>
    </div>
    <div id="center">
      <div class="middleArea">
        <%= erb "layout/top-menu".to_sym%>
        <div id="contents">
          <div class="bs-example" style="width: 40%;float: left;">
            <legend>Project Information</legend>
            <h3><%= @project.TITLE %></h3>

            <div style="height: 150px;">
              <div style="float: left;width: 40%;">
                <img width="150" height="150" src="<%= @project.ALBUM_IMAGE_PATH_url %>"/>
              </div>
              <div>
                <div class="form-group">
                  <label>Artist : </label><%= @project.ARTIST  %>
                </div>
                <div class="form-group">
                  <label>Upload : </label><%= @project.updated_at  %>
                </div>
                <div class="form-group">
                  <label>Genre : </label><%= @project.GENRE  %>
                </div>
                <div class="form-group">
                  <label>Play Count : </label><%= @project.PLAY_COUNT  %>
                </div>
                <div class="form-group">
                  <label>Good Count : </label><%= @project.GOOD_COUNT  %>
                </div>
              </div>
            </div>

            <div style="float: right;">
              <button>Edit</button>
              <button>Play</button>
              <button>DownLoad</button>
            </div>
            <hr class="hr-underBar hr-underBar-PI">
            <div>
              <div class="form-group">
                <label>Introduce</label>
                <br>
                <%= @project.PROJECT_INFO  %>
              </div>
            </div> 
            <hr class="hr-underBar hr-underBar-PI">
            <form class="contact_form" id="add-track" action="/add_track/<%= @project.id %>" method="post" enctype="multipart/form-data"
              >
              <fieldset>
                <div>
                  <div class="form-group">
                    <label>Track</label>
                    <input type="file" name="source[SOURCE_PATH]" class="form-control" /></input>
                    <button type="submit" class="btn btn-primary btn-summit">submit</button>
                  </div>
                  
                </div> 
              </fieldset>
            </form>
            <div id="project-sources">
              <% @sources.each do |source| %>
              <% if source.PROJECT_NUM == @project.id %>
                <div class="source">
                <embed id="source-player" src="<%= source.SOURCE_PATH_url %>"/>
                </div>
                <div>
                  <a href="/delete_source/<%= @project.id %>/<%= source.id %>"> delete </a>
                </div>
                <hr class="hr-underBar">
                <% end %>
                <% end %>
              </div>
            </div>


            <div class="bs-example" style="width: 40%;float: right;">
              <legend>Comment</legend>
              <form class="contact_form" id="project-comment-list" action="/new_comment/<%= @project.id %>" method="post" enctype="multipart/form-data"
                >
                <input type="text" class="input-small input-text-area" placeholder="comment" name="comment[CONTENTS]">
                <button type="submit" class="btn btn-primary btn-summit">submit</button>
              </form>
              <div id="project-replies">
                <% @comments.each do |comment| %>
                <% if comment.PROJECT_NUM == @project.id %>
                <div class="comment">
                 <%= comment.CONTENTS %>
                </div>
                <div>
                 <p><small> <%= comment.created_at %></small> </p>
                  <a href="/delete_comment/<%= @project.id %>/<%= comment.id %>"> delete </a>
                </div>
                <hr class="hr-underBar">
                <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= erb "layout/bottom-info".to_sym %>
    </div>
    <%= erb "layout/play-area".to_sym %>
  </body>
  </html>


