<!DOCTYPE html>
<html>
<head>
 <title>Music Harmoney</title>
 <!-- Setting 시작 -->
 <%= erb :fileInclude %>
</head>
<body>
  <div id="scrollArea" class="normal">
    <div id="topBanner" class="topBottom">
      <!-- topBanner -->
      <div class="leftArea">
      </div>
      <div class="middleArea">
        <%= erb :loginForm %>
      </div>
      <div class="rightArea">
      </div>
    </div>

    <div id="center">
      <div class="leftArea">
      </div>
      <div class="middleArea">
        <%= erb :topMenu %>
        <div id="contents">
<div class="bs-example" style="width: 40%;float: left;">
<legend>Project Information</legend>
 <h1><%= @project.TITLE %></h1>

 <div style="height: 150px;">
  <div style="float: left;width: 40%;">
  <img width="150" height="150" src="<%= @project.ALBUM_IMAGE_PATH_url %>"/>
  </div>
  <div>
    <div class="form-group">
      <label>Artist : </label><%= @project.ARTIST  %>
    </div>
    <div class="form-group">
      <label>RunTime : </label><%= @project.PLAY_TIME  %>
    </div>
    <div class="form-group">
      <label>Genre : </label><%= @project.GENRE  %>
    </div>
    <div class="form-group">
      <label>Play Count : </label><%= @project.PLAY_COUNT  %>
    </div>
      <div class="form-group">
      <label>Good Count : </label><%= @project.GOOD_COUNT  %>
    </div>
  </div>
</div>

<div style="float: right;">
  <button>Edit</button>
  <button>Play</button>
  <button>DownLoad</button>
</div>
<hr>
<div>
    <div class="form-group">
      <label>Introduce</label>
      <br>
      <%= @project.PROJECT_INFO  %>
    </div>
</div>

</div>


<div class="bs-example" style="width: 40%;float: right;">
<legend>Comment</legend>
<form class="form-inline">
  <input type="text" class="input-small" placeholder="comment">
  <button type="submit" class="btn">submit</button>
</form>
<div id="project-replies">
  </div>
</div>
        </div>
      </div>
      <div class="rightArea">
      </div>
    </div>
    <%= erb :bottomInfo %>
  </div>
  <%= erb :playArea %>
</body>
</html>


