<div class="bs-example">
  <div class="col-md-10">
    <legend>Comment & TimeLine</legend>
    
    <div id="project-comments">
      <% @comments.each do |comment| %>
        <div class="panel panel-default">
          <div class="panel-heading">            
            <div>
              <p class=""> <%= comment.created_at.inspect.slice!(0 .. 9) %></p>
              <p> project : <%= Project.find(comment.PROJECT_NUM).TITLE %> </p>
            </div>
    
            <div class="">
              poster : <%= @user.find_by_id(comment.PRI_USER_ID.inspect).NAME %>
            </div>

            <div class="comment">
              <%= comment.CONTENTS %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <ul class="menu list-unstyled list-inline">
          <h4> Join Project list </h4>
        </ul>
      </div>
      <ul class="reply list-group-item">
        <% @projects.each do |project| %>
            <div class="projects">
              <a href="/project/<%= project.id %>">
                <h2><%= project.TITLE %><h2>
              </a>
            </div>
          <% end %>
      </ul>
    </div>

  </div>
</div>

