내정보 정보 페이지

<h3>닉네임 <%= @user.NAME %></h3>
<h3>이메일 <%= @user.EMAIL %></h3>
<h3>파트 <%= @user.PART %></h3>
<h3>소속 <%= @user.AFFILIATE_BAND %></h3>
<h3>사진 <%= @user.PICTURE %></h3>
<h3>가입날짜 <%= @user.created_at %></h3>
<h3>소개 <%= @user.INFO %></h3>
