<% @count=1 %>
<% @imgSrc = Array.new(36)%>
<% @imgId = Array.new(36)%>
<%for value in @Project_Carousel %>
    <% @imgSrc[@count]=value.ALBUM_IMAGE_PATH_url%>
    <% @imgId[@count]=value.id%>
    <% @count=@count+1 %>
 <%end%>
<% @count=1 %>

<div class="bar-area">
  <img id="new-upload-bar-img"></img>
</div>
<div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
  <!-- Carousel indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>   
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <!-- <h2>Slide 1</h2> -->
      <!-- <#% for i in 1..2 %> -->
        <div class="row">
          <% for i in 1..6 %>
          <div class="col-xs-6 col-md-2">
            <a href="/project/<%= @imgId[@count] %>" class="thumbnail albumImg-a-thumbnail">
              <img class="img-circle morph" src="<%= @imgSrc[@count] %>" alt="...">
              <% @count=@count+1 %>
            </a>
          </div>
          <% end %>
        </div>
        <div class="row caro_under">
          <% for i in 1..6 %>
          <div class="col-xs-6 col-md-2">
            <a href="/project/<%= @imgId[@count] %>" class="thumbnail albumImg-a-thumbnail">
              <img class="img-circle morph" src="<%= @imgSrc[@count] %>" alt="...">
              <% @count=@count+1 %>
            </a>
          </div>
          <% end %>
        </div>
      <!-- <=% end %> -->
    </div>

    <% for i in 1..2 %>
      <div class="item">
        <!-- <#% for i in 1..2 %> -->
          <div class="row">
            <% for i in 1..6 %>
            <div class="col-xs-6 col-md-2">
              <a href="/project/<%= @imgId[@count] %>" class="thumbnail albumImg-a-thumbnail">
                <img class="img-circle morph" src="<%= @imgSrc[@count] %>" alt="...">
                <% @count=@count+1 %>
              </a>
            </div>
            <% end %>
          </div>
          <div class="row caro_under">
            <% for i in 1..6 %>
            <div class="col-xs-6 col-md-2">
              <a href="/project/<%= @imgId[@count] %>" class="thumbnail albumImg-a-thumbnail">
                <img class="img-circle morph" src="<%= @imgSrc[@count] %>" alt="...">
                <% @count=@count+1 %>
              </a>
            </div>
            <% end %>
          </div>
        <!-- <#% end %> -->
      </div>
    <% end %>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left carousel-side-width" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="carousel-control right carousel-side-width" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<div class="center">
  <img class="under-bar-line"></img>
</div>


 

