<div class="bs-example" style="width: 40%;float: left;">
  <legend>Project Information</legend>
  <h3><%= @project.TITLE %></h3>

  <div style="height: 150px;">
    <div class="pull-left" style="width: 40%;">
      <img width="150" height="150" src="<%= @project.ALBUM_IMAGE_PATH_url %>"/>
    </div>
    <div>
      <div>
        <label>Artist : </label><%= @project.ARTIST  %>
      </div>
      <div>
        <label>Upload : </label><%= @project.updated_at  %>
      </div>
      <div>
        <label>Genre : </label><%= @project.GENRE  %>
      </div>
      <div>
        <label>Play Count : </label><%= @project.PLAY_COUNT  %>
      </div>
      <div>
        <label>Good Count : </label><%= @project.GOOD_COUNT  %>
      </div>
    </div>
  </div>

  <div class="pull-right">
    <button>Edit</button>
    <button>Play</button>
    <button>DownLoad</button>
  </div>
  <hr class="hr-underBar">
  <div>
    <div>
      <label>Introduce</label>
      <br>
      <%= @project.PROJECT_INFO  %>
    </div>
  </div> 
  <hr class="hr-underBar"> 
  <label>Track</label>
  <form id="add-track" action="/add_track/<%= @project.id %>" method="post" enctype="multipart/form-data" class="form-inline"
    >
    <div class="has-success">
      <input type="file" name="source[SOURCE_PATH]" class="form-control" id="input-track-area" /></input>
      <button type="submit" class="btn btn-primary btn-xs">submit</button>
    </div> 
  </form>
  <br>
  <div id="project-sources">
    <% @sources.each do |source| %>
    <% if source.PROJECT_NUM == @project.id %>
    <div class="source">
      <embed class="source-player-area" src="<%= source.SOURCE_PATH_url %>"/>
    </div>
    <div>
      <a class="btn btn-danger btn-xs pull-right" role="button" href="/delete_source/<%= @project.id %>/<%= source.id %>"> delete </a>
    </div>
      <hr>
      <% end %>
      <% end %>
  </div>
</div>

<div class="bs-example" style="width: 40%;float: right;">
  <legend>Comment</legend>
  <form id="project-comment-list" class="has-success form-inline" action="/new_comment/<%= @project.id %>" method="post" enctype="multipart/form-data"
    >
    <input type="text" class="input-small form-control" id="input-text-area" placeholder="comment" name="comment[CONTENTS]">
    <button type="submit" class="btn btn-primary btn-xs">submit</button>
  </form>
  <hr>
  <div id="project-replies">
    <% @comments.each do |comment| %>
    <% if comment.PROJECT_NUM == @project.id %>
    <div class="comment">
     <%= comment.CONTENTS %>
   </div>
   <div>
     <p class="pull-left"><small> <%= comment.created_at %></small> </p>
     <a class="btn btn-danger btn-xs pull-right" role="button" href="/delete_comment/<%= @project.id %>/<%= comment.id %>"> delete </a>
   </div>
   <hr class="hr-underBar">
   <% end %>
   <% end %>
  </div>
</div>


