<div class="bs-example">
  <legend> <p class="projectinfo-name">Project Name : <%= @project.TITLE %> </p> <p>Introduce : <%= @project.PROJECT_INFO  %></p></legend>
  <div style="height: 150px;">
    <div class="pull-left col-md-2">
      <img width="180" height="180" src="<%= @project.ALBUM_IMAGE_PATH_url %>"/>
    </div>
    <div class="projectinfo-postion col-md-2">
      <br>
      <div>
        <label>Upload : </label><%= @project.updated_at.inspect.slice!(0 .. 9)  %>
      </div>
      <div>
        <label>Genre : </label><%= @project.GENRE  %>
      </div>
      <div>
        <label>Play Count : </label><%= @project.PLAY_COUNT  %>
      </div>
      <div>
        <label>Good Count : </label><%= @project.GOOD_COUNT  %>
      </div>

      <form>
        <button type="button" class="btn-default projectinfo-button">Edit</button>
        <button type="button" class="btn-default projectinfo-button">Play</button>
        <button type="button" class="btn-default projectinfo-button">DownLoad</button>
      </form>  
    </div>

    <div class="col-md-6">
      <label>Track</label>
      <form id="add-track" action="/add_track/<%= @project.id %>" method="post" enctype="multipart/form-data" class="form-inline"
        >
        <div class="has-success">
          <input type="file" name="source[SOURCE_PATH]" class="form-control" id="input-track-area" /></input>
          <button type="submit" class="btn btn-primary btn-xs">submit</button>
        </div> 
      </form>
    </div>
  </div>

  <div class="center">
    <img class="under-bar-line under-bar-line-shot"></img>
  </div>

  <div id="project-sources">
    <% @sources.each do |source| %>
      <% if source.PROJECT_NUM == @project.id %>
        <div class="source">
          <embed class="source-player-area" src="<%= source.SOURCE_PATH_url %>"/>
        </div>
        <div>
          <a class="btn btn-danger btn-xs pull-right" role="button" href="/delete_source/<%= @project.id %>/<%= source.id %>"> delete </a>
        </div>
        <hr>
      <% end %>
      <% end %>
  </div>
</div>

<legend>Comment & TimeLine</legend>
<div id="project-replies">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <% @comments.each do |comment| %>
          <a class="btn btn-danger btn-xs pull-right" role="button" href="/delete_comment/<%= @project.id %>/<%= comment.id %>"> delete </a>
          <div>
           <p class=""> <%= comment.created_at.inspect.slice!(0 .. 9) %></p>
          </div>
          <div class="">
            poster : <%= User.find_by_id(comment.PRI_USER_ID.inspect).NAME %>
          </div>

          <div class="comment">
           <%= comment.CONTENTS %>
          </div>
          
          
        <% end %>
      </div>

      <div class="panel-body">
        <h5> reply <h5>
    </div>
  </div>

<div class="bs-example">
  <form id="project-comment-list" class="has-success form-inline" action="/new_comment/<%= @project.id %>" method="post" enctype="multipart/form-data">
      <input type="text" class="form-control" id="input-comment" placeholder="comment" name="comment[CONTENTS]">
      <button type="submit" class="btn btn-primary btn-xs">submit</button>
  </form>

  
</div>


